<configuration>
    <logger name="io.netty" level="WARN" />
    <logger name="org.asynchttpclient" level="WARN" />
    <logger name="org.mongodb.driver" level="WARN" />
    <logger name="org.openqa.selenium" level="WARN" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{25}) [%magenta(%X{sessionId})] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="Allure" class="helpers.AllureLogAppender">
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="Allure" />
    </root>
</configuration>